/*        CSS dei filtri         */
.filters {
    border-radius: 10px;
    border: 2px solid #ccc;
    padding-bottom: 20px;
    margin: 8px;
    width: 300px;
    background-color: aliceblue;
    position: fixed;
    left: 15px;
    top: 100px;
    overflow: auto;
}

.filters #filterTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    /*In caso Lato non possa essere usato, il testo viene caricato con sans-serif*/
}

.filters legend {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: "Lato", sans-serif;
}

.filters fieldset {
    border: none;
    margin-bottom: 10px;
}

.filters label {
    margin-right: 3px;
    font-size: 16px;
    font-family: "Lato", sans-serif;
}

.filterbuttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.filters input[type="submit"],
input[type="reset"] {
    background-color: #2d4b65;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 15px;
    display: inline-block;
    margin: 3px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

.filters input[type="submit"]:hover,
.filters input:hover[type="reset"] {
    background-color: #aaa;
}


/*  Css del dropdown menu in cui ci sono i filtri*/

.dropdownBtn{
    background-color: aliceblue;
    padding: 12px;
    font-size: 24px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 5%;
}

.dropdownBtn:hover {
    text-decoration: underline;
}

#dropdownMenu {
    display: none;
}


/* Definisce il tempo in cui la transizione avviene, che in questo caso si ha con il click sul bottone,
    che va a invacare la funzione relativa al dropdown nel file js*/
#dropArrow{
    transition: .5s;
}







/*           CSS del contenitore di barra di ricerca + risultati della ricerca            */
.content {
    height: 50%;
    position: relative;
    top: 80px;
    display: block;
    margin-right: 15px;
    margin-left: 330px;
}

.content h2{
    text-align: center;
    font-family: "Lato", sans-serif;
    color:#2d4b65;
    font-size: 36px;
    font-weight: bold;
}








/*                 CSS della barra di ricerca              */
.searchbar {
    min-width: 300px;
    max-width: 30%;
    background-color: #ccc;
    border-radius: 20px;
    margin: auto;
    display: flex;
    align-items: center;
}

.searchbar::after {
    content: "";
    clear: both;
    display: table;
}

.searchbar input[type=text] {
    margin: 10px;
    font-size: 17px;
    padding: 6px;
    font-family: "Lato", sans-serif;
    border: none;
    border-radius: 20px;
    background: #f1f1f1;
    transition: 0.5s;
    flex: 85%;
}

.searchbar button[type="submit"] {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin-left: 12px;
    padding: 3px;
    border: none;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
}





/*         CSS per il risultato della ricerca      */
/*  Contenitore della lista dei risultati  */
.search-list {
    margin: 20px 5%;
    /*Scrittura breve con cui determinare i margini, rispettivamente ho in ordine: top-bottom left-right*/
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 30px 40px;
}

/*  Contenitore singolo risultato */
.search-result {
    background-color: aliceblue;
    border: 2px solid #ccc;
    border-radius: 20px;
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
}

.search-result img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    margin: 20px;
}

.search-result a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
}

.search-result section {
    padding: 15px;
    font-family: "Lato", sans-serif;
}

/*Proprieta' necessaria per evitare eventualmente che l'immagine non sia contenuta nel bordo del contenitore*/
.search-result::after {
    content: "";
    clear: both;
    display: table;
}


.search-result-link {
    text-decoration: none; /* Rimuove la sottolineatura */
    color: inherit; /* Usa il colore del testo del contenitore */
  }

  .search-result-link:visited {
      color: inherit; /* Mantiene il colore originale anche dopo che è stato cliccato */
  }



/*    CSS del Paginatore in fondo alla pagina*/
.center-pagination {
    text-align: center;
  }
  
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: #333;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    margin: 0 4px;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
  }
  
  .pagination a.active {
    background-color: #2d4b65;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ccc;}




  
/*Media query per la responsivita'*/

@media (max-width:820px) {

    .search-result{
        flex-direction: column;
    }

}

