/* Impostaxioni dello sfondo, con 1oovw e 1oowh copro tutto lo sfondo indipendentemente dalla grandezzza della finestra*/
body{
    background: url(../Login/login-bg.jpg) no-repeat center fixed;
    background-size: cover;
}

/* Stile del form di login*/
.loginform{
    display: block;
    background-color: aliceblue;
    color:#005167;
    width: 300px;
    float: right;
    margin-top: 100px;
    margin-right: 15%;
    border-radius: 20px;
    border: 3px solid #ddd;
}

.loginform fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginform legend{
    font-size: 21px;
    text-align: center;
    font-weight: bold;
    margin: 30px 20px;
}

.loginform input[type=text], .loginform input[type=password]{
    font-size: 18px;
    background-color: #ddd;
    border-radius: 25px;
    border: none;
    padding: 10px 15px;
}

.loginform input[type=submit]{
    font-weight: bold;
    font-size: 18px;
    margin: auto;
    background-color: #005167;
    color: white;
    border-radius: 25px;
    border: none;
    padding: 15px 30px;
    transition: .5s;
}

.loginform input[type=submit]:hover {
    cursor: pointer;
    
    color:#005167;
    background-color: #ddd;
}



/* Media query per far in modo che la pagina sia repsonsiva alla dimansione della finestra*/
@media (max-width: 600px){
    .loginform{
        float: none;
        margin: auto;
        margin-top: 100px;
    }
}