/*Definizione variabili per il colore*/
:root {
  --blue: #005167;
}

/*Definisco che per tutti gli elementi le zone di padding e border sono compresi in width e height*/
* {
  box-sizing: border-box;
}

/*body ha un margine predefinito che elimino*/
body {
  margin: 0px;
}


/*CSS per header*/

header {
  background-color: var(--blue);
  color: #ffff;
  text-align: center;
  font-size: 36px;
  font-family: sans-serif;
  font-weight: bold;
  padding: 12px;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container div {
  align-self: center;
}

/*Essendo img un tag inline, dava problemi per l'allineamento verticalie, poichè si sitemva su un rigo come se fosse un testo, 
quindi per ovviare a ciò uso cambio il display in block in modo tale che sia centrato nel div che lo contiene.*/
.flex-container div>img {
  display: block;
}