.page {
    display: flex;
    flex-wrap: nowrap;
    padding: 4px;
    margin-top: 90px;
}

#topbutton {
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: #005167;
    z-index: 99;
    position: fixed;
    padding: 4px;
    right: 30px;
    bottom: 30px;
    height: 50px;
    width: 50px;
    display: none;
}

/*CSS dei filtri*/
.filters {
    border-radius: 10px;
    border: 2px solid black;
    padding-bottom: 20px;
    height: 30%;
    margin: 8px;
    flex: 30%;
    max-width: 300px;
    background-color: aliceblue;
}

.filters #filterTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

.filters legend {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: sans-serif;
}

.filters fieldset {
    border: none;
    margin-bottom: 10px;
}

.filters label {
    margin-right: 3px;
    font-size: 16px;
    font-family: sans-serif;
}

.filters input[type="submit"],
input[type="reset"] {
    background-color: #005167;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 15px;
    display: inline-block;
    margin: 3px;
    cursor: pointer;
}


.filterbuttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.filters input[type="submit"]:hover,
.filters input:hover[type="reset"] {
    background-color: #aaa;
}

/*CSS del contenitore di barra di ricerca + risultati della ricerca*/
.content {
    margin-left: 8px;
    margin-top: 10px;
    flex: 65%;
    height: 50%;
}

/*CSS della barra di ricerca*/
.searchbar {
    margin: auto;
    min-width: 200px;
    max-width: 30%;
}

.searchbar::after {
    content: "";
    clear: both;
    display: table;
}

.searchbar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    background: #f1f1f1;
    transition: 0.5s;
    width: 60%;
}


.searchbar button[type="submit"] {
    float: left;
    width: 40px;
    padding: 8px;
    background: #005167;
    color: white;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.searchbar button[type="submit"]:hover {
    background-color: #aaa;
}

.searchbar input[type=text]:focus {
    width: 80%;
}

/*Per avere questa animazione si e' dovuto decentrare la searchbar, se la si vuole contrare nel suo contenitore,
 togliere questo e togliere width dalla sezione searchbar input*/

/*CSS per il risultato della ricerca*/
.result {
    margin-top: 18px;
    margin-right: 8px;
    padding-bottom: 3000px;
}