/*Immagine della piantina grandi aule*/
img[src="Grandi-aule.jpeg"]{
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: scale-down;
  position: relative;
  z-index: -1;
  object-fit: cover;
}

/*Contenitore per l'immagine della piantina e per i link colorati al suo interno*/
.container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/*Link colorato che ti reindirizza alle pagine delle prenotazioni*/
.container a{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute; 
    text-decoration: none; 
    color: black;
    font-family: "Lato",sans-serif;
    height: 19.3%;
    font-size: 1vw;/* Dimensione del testo in viewport widith, % della larghezza dello schermo utilizzato*/
}

/*Lunghezze
 standerd delle aule (l'altezza e' tra le caratteristiche comuni a tutti)*/ 
.big{
    width: 6.6%;
}

.small_left{
    width: 4.4%;
}

.small_right{
    width: 4%;
}

/*Posizioni su o giu' standard delle aule (la posizione da sinistra cambia invace per ogni coppia di aule)*/
.top{
   top: 21%; 
}

.bottom{
    top: 53.5%
}

/*Posizione da sinistra e colore specifici di ogni aula*/
#A{ 
    left:45.5%;
    background-color: rgba(29, 186, 29, 0.5);
}

#B{ 
    left:52.4%;
    background-color: rgba(29, 186, 29, 0.5);
}

#C{ 
    left:57%;
    background-color: rgba(29, 186, 29, 0.5);
}

#D{ 
    left:45.5%;
    background-color: rgba(29, 186, 29, 0.5);
}

#E{ 
    left:52.4%;
    background-color: rgba(29, 186, 29, 0.5);
}

#Orabona{ 
    left:57%;
    background-color: rgba(29, 186, 29, 0.5);
}

#G{ 
    left:66.8%;
    background-color: rgba(29, 186, 29, 0.5);
}

#H{ 
    left:73.7%;
    background-color: rgba(29, 186, 29, 0.5);
}

#I{ 
    left:78%;
    background-color: rgba(29, 186, 29, 0.5);
}

#L{ 
    left:78%;
    background-color: rgba(29, 186, 29, 0.5);
}

#M{ 
    left:73.7%;
    background-color: rgba(29, 186, 29, 0.5);
}

#N{ 
    left:66.8%;
    background-color: rgba(29, 186, 29, 0.5);
}

/* Hover più chiaro per ogni aula */
#A:hover { 
    background-color: rgba(102, 255, 102, 0.5);
}

#B:hover { 
    background-color: rgba(102, 255, 102, 0.5);
}

#C:hover { 
    background-color: rgba(102, 255, 102, 0.5);
}

#D:hover { 
    background-color: rgba(102, 255, 102, 0.5);
}

#E:hover { 
    background-color: rgba(102, 255, 102, 0.5);
}

#Orabona:hover { 
    background-color: rgba(102, 255, 102, 0.5);
}

#G:hover { 
    background-color: rgba(102, 255, 102, 0.5);
}

#H:hover { 
    background-color: rgba(102, 255, 102, 0.5);
}

#I:hover { 
    background-color: rgba(102, 255, 102, 0.5);
}

#L:hover { 
    background-color: rgba(102, 255, 102, 0.5);
}

#M:hover { 
    background-color: rgba(102, 255, 102, 0.5);
}

#N:hover { 
    background-color: rgba(102, 255, 102, 0.5);
}

